.page {
  margin-top: 50px;
  display: grid;
  place-items: center;
  width: 100%;
}

.logo {
  height: 250px;
  width: 250px;
}

.phone__login {
  height: 50px;
  width: 400px;
  font-size: 27px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.password__login {
  margin-top: 20px;
  height: 50px;
  width: 400px;
  font-size: 27px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.select__login {
  margin-top: 20px;
  height: 50px;
  width: 400px;
  font-size: 27px;
  border-radius: 5px;
}

.forgotPass {
  margin-left: 200px;
  margin-top: 15px;
  font-size: 25px;
}

.forgotPassLink {
  text-decoration: none;
  color: rgba(243, 112, 34, 1);
}

.login {
  width: 400px;
  height: 55px;
  margin-top: 30px;
  background: rgba(243, 112, 34, 1);
  border: none;
  color: white;
  font-size: 30px;
  border-radius: 5px;
}

.register {
  color: rgba(243, 112, 34, 1);
  text-decoration: none;
  margin-top: 30px;
  font-size: 25px;
}
