.footer {
  margin-top: 30px;
  place-items: center;
  display: grid;
  width: 100%;
  position: fixed;
  background-color: white;
  bottom: 0;
  z-index: 999;
}

.footer__content {
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.footer button {
  list-style: none;
  height: 50px;
  width: 50px;
  border: none;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer i {
  font-size: 30px;
  color: #ca1414;
}

.footer .search {
  background-color: rgba(243, 112, 34, 1);
  margin-top: 0;
  border-radius: 50%;
  color: white;
  box-shadow: 0px 4px 12px 0px;
}
